<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>


		<property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<!--<property name="connection.url">jdbc:jtds:sqlserver://localhost:1433/Cooperativa</property>-->
		<property name="connection.url">jdbc:jtds:sqlserver://192.168.160.1:49593/Cooperativa</property>  
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="model.Usuario" />
		<mapping class="model.UsuarioTipo" />
		<mapping class="model.TipoSocio" />
		<mapping class="model.EstadoSocio" />
		<mapping class="model.TipoDocumento" />
		<mapping class="model.EstadoCivil" />
		<mapping class="model.Provincia" />
		<mapping class="model.Pais" />
		<mapping class="model.CondicionIva" />
		<mapping class="model.Socio" />
		<mapping class="model.TipoDomicilio" />
		<mapping class="model.Domicilio" />
		<mapping class="model.SociosTransacciones" />		
		<mapping class="model.EstadoConexion" />
		<mapping class="model.ZonaConexion" />
		<mapping class="model.TipoTerreno" />
		<mapping class="model.RegimenPropiedad" />
		<mapping class="model.FormaPago" />
		<mapping class="model.TipoSuministro" />
		<mapping class="model.CategoriaConexion" />
		<mapping class="model.TipoConexion" />
		<mapping class="model.TipoUbicacionCatastral" />
		<mapping class="model.UbicacionCatastral" />
		<mapping class="model.TarjetaNaranja" />
		<mapping class="model.Conexion" />
		<mapping class="model.EstadoPeriodo" />
		<mapping class="model.PeriodoLectura" />	
		<mapping class="model.Lectura" />	
		<mapping class="model.ConfiguracionLectura" />
		<mapping class="model.ConfiguracionFactura" />
		<mapping class="model.PeriodoFacturacion" />
		<mapping class="model.ConceptoFacturacion" />
		<mapping class="model.PeriodoCanon" />
		<mapping class="model.Factura" />
		<mapping class="model.TarjetaNaranja" />
		<mapping class="model.TipoComprobante" />
		<mapping class="model.Recibo" />
		<mapping class="model.ReciboItem" />
		<mapping class="model.NotaDebito" />
		<mapping class="model.NotaCredito" />
	</session-factory>
</hibernate-configuration>